{{> nav}}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {{#header}}
    <h1>{{blurb}}</h1>
    <p>{{detail}}</p>
    <p><a class="btn btn-primary btn-lg" href="/apply" role="button">Apply now &raquo;</a></p>
    <p>{{subtext}}</p>
    {{/header}}
  </div>
</div>

{{#about}}
<div class="container">
  <div class="row">
    {{#team}}
    <div class="">
      <h2>About us</h2>
      <p class="lead">We are team {{name}}</p>
      <p>{{description}}</p>
      <p><a class="btn btn-default" href="{{link}}" role="button">View details &raquo;</a></p>
    </div>
    {{/team}}
  </div>
</div>
{{/about}}

{{> scripts}}
